<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <ul class="nav nav-tabs nav-justified">
                <h1 class="text-center">Реестр объектов интелектуальной собственности</h1>
                <br>
                <li class="active"><a href="#cards" data-toggle="tab">Картотека</a></li>
                <li><a href="#reports" data-toggle="tab">Отчётность</a></li>
                <li><a href="#budget" data-toggle="tab">Бюджет</a></li>
                <li><a href="#settings" data-toggle="tab">Настройки</a></li>
            </ul>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="row">
        <div class="tab-content col-md-12">
            <div class="tab-pane fade in active" id="cards"><card></card></div>
            <div class="tab-pane fade" id="reports">2</div>
            <div class="tab-pane fade" id="budget">3</div>
            <div class="tab-pane fade" id="settings">4</div>
        </div>
    </div>
</div>
