<div class="row">
    <div id="left_panel" class="col-md-2">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#oic" data-toggle="tab">ОИС</a></li>
            <li><a href="#apply" data-toggle="tab">Заявки</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="oic">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active" data-toggle="tab" (click)="clickAllOic()"><a href="#common">Все действующие ОИС</a></li>
                    <li data-toggle="tab" (click)="clickInnavationsOic()"><a href="#common">Изобретения и модели</a></li>
                    <li data-toggle="tab" (click)="clickProgramsOic()"><a href="#common">Программы и БД</a></li>
                    <li data-toggle="tab" (click)="clickKnowHowOic()"><a href="#common">Только ноу-хау</a></li>
                    <li data-toggle="tab" (click)="clickBalanceOic()"><a href="#common">На балансе</a></li>
                    <li data-toggle="tab" (click)="clickFondsOic()"><a href="#common">В уставных фондах</a></li>
                    <li data-toggle="tab" (click)="clickContractsOic()"><a href="#common">В договорах</a></li>
                    <li data-toggle="tab" (click)="clickRnDOic()"><a href="#common">Связанные с НИР</a></li>
                    <li data-toggle="tab" (click)="clickDepartmentsOic()"><a href="#department">По подразделениям</a></li>
                    <li data-toggle="tab" (click)="clickInActiveOic()"><a href="#common">Недуйствующие</a></li>
                </ul>
                <br/>
                <br/>
                <button class="btn btn-info btn-block" data-toggle="modal" data-target="#oicModal" (click)="idChange(undefined)">Добавить запись</button>
            </div>
            <div class="tab-pane fade" id="apply">данные2</div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="common">
                <common-table [oicList]="oicList" (onChanged)="idChange($event)"></common-table>
            </div>
            <div class="tab-pane fade" id="department">
                <department-table [oicList]="oicList" (onChanged)="idChange($event)"></department-table>
            </div>
        </div>
    </div>
    <oic-card [id]="curId"></oic-card>
</div>




