<div class="modal fade" id="oicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg large" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Карточка ОИС</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-inline form-group">
                            <label class="control-label">Внутренний номер:</label>
                            <p class="form-control-static">Какой-то Номер</p>
                        </div>
                        <div class="form-group">
                            <label for="oicName">Наименование ОИС</label>
                            <textarea class="form-control" id="oicName"></textarea>
                        </div>
                        <div class="row">
                            <h6 class="col-md-3">Тип ОИС</h6>
                            <div class="col-md-3">
                                <div class="row">
                                    <select class="form-control input-sm">
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                </div>
                            </div>
                            <h6 class="col-md-4 nopadding">Тип основания</h6>
                            <div class="col-md-2">
                                <div class="row">
                                    <select class="form-control input-sm">
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="col-md-3">Дата приоритета</h6>
                            <div class="col-md-3">
                                <div class="row">
                                    <input type="date" class="form-control input-sm col-md-3 nopadding">
                                </div>
                            </div>
                            <h6 class="col-md-4 nopadding">Номер охранного документа</h6>
                            <div class="col-md-2">
                                <div class="row">
                                    <input type="text" class="form-control input-sm col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>