<div class="modal fade" id="oicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg large" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Карточка ОИС</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-inline form-group">
                            <label>Внутренний номер:</label>
                            <p class="form-control-static">{{cardEdit.number}}</p>
                        </div>
                        <div>
                            <label for="current">Действующий</label>
                            <input type="checkbox" id="current" [(ngModel)]="cardEdit.active">
                        </div>
                        <div class="row">
                            <div class="form-group no-padding-right col-md-12">
                                <label for="oicName">Наименование ОИС</label>
                                <textarea class="form-control" id="oicName" rows="3" [(ngModel)]="cardEdit.name"></textarea>
                            </div>
                        </div>
                        <div class="row space">
                            <label class="col-md-3">Тип ОИС</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <select [(ngModel)]="cardEdit.typeOic" class="form-control input-sm">
                                        <option *ngFor="let type of oicTypes" value="{{type.typeId}}">{{type.shortName}}</option>
                                    </select>
                                </div>
                            </div>
                            <label class="col-md-4">Тип основания</label>
                            <div class="col-md-2">
                                <div class="row">
                                    <select [(ngModel)]="cardEdit.typeOsnov" class="form-control input-sm">
                                        <option *ngFor="let type of typesOsnov" value="{{type.id}}">{{type.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row space">
                            <label class="col-md-3">Дата приоритета</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <input type="date" class="form-control input-sm col-md-3" [(ngModel)]="cardEdit.priorityDate">
                                </div>
                            </div>
                            <label class="col-md-4">Номер охранного докум-та</label>
                            <div class="col-md-2">
                                <div class="row">
                                    <input type="text" class="form-control input-sm col-md-2" [(ngModel)]="cardEdit.secDocNum">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3">Дата выдачи</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <input type="date" class="form-control input-sm col-md-3" [(ngModel)]="cardEdit.deliveryDate">
                                </div>
                            </div>
                            <label class="col-md-4">Номер бюллетеня</label>
                            <div class="col-md-2">
                                <div class="row">
                                    <input type="text" class="form-control input-sm col-md-2" [(ngModel)]="cardEdit.belNum">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3">Дата получения</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <input type="date" class="form-control input-sm col-md-3" [(ngModel)]="cardEdit.takeDate">
                                </div>
                            </div>
                            <label class="col-md-4">Внутренний номер заявки</label>
                            <div class="col-md-2">
                                <div class="row">
                                    <input type="number" class="form-control input-sm col-md-2" [(ngModel)]="cardEdit.innerNumZaiv">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3">Срок действия</label>
                            <div class="col-md-3">
                                <div class="row">
                                    <input type="date" class="form-control input-sm col-md-3" [(ngModel)]="cardEdit.duration">
                                </div>
                            </div>
                            <label class="col-md-4">Номер внутреннего дела</label>
                            <div class="col-md-2">
                                <div class="row">
                                    <input type="text" class="form-control input-sm col-md-2" [(ngModel)]="cardEdit.innerDeloNum">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-offset-6 col-md-4">Шифр МПК</label>
                            <div class="col-md-2">
                                <div class="row">
                                    <input type="text" class="form-control input-sm col-md-2" [(ngModel)]="cardEdit.shifr">
                                </div>
                            </div>
                        </div>
                        <div class="row space">
                            <div>
                                <label for="hasContacts" class="col-md-4">Есть договоры?</label>
                                <input type="checkbox" class="col-md-1" id="hasContacts" [(ngModel)]="cardEdit.hasContracts">
                            </div>
                            <div>
                                <label for="hasBalance" class="col-md-offset-1 col-md-4">На балансе?</label>
                                <input type="checkbox" class="col-md-2" id="hasBalance" [(ngModel)]="cardEdit.hasBalance">
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label for="conRND" class="col-md-4">Связан с НИР?</label>
                                <input type="checkbox" class="col-md-1" id="conRND" [(ngModel)]="cardEdit.hasRND">
                            </div>
                            <div>
                                <label for="datePost" class="col-md-offset-1 col-md-4">Дата постановки</label>
                                <div class="col-md-2">
                                    <div class="row">
                                        <input type="date" class="form-control input-sm" id="datePost" [(ngModel)]="cardEdit.postan">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label for="fond" class="col-md-4">В уставном фонде?</label>
                                <input type="checkbox" class="col-md-1" id="fond" [(ngModel)]="cardEdit.hasFond">
                            </div>
                            <div>
                                <label for="cost" class="col-md-offset-1 col-md-4">Балансовая стоимость</label>
                                <div class="col-md-2">
                                    <div class="row">
                                        <input type="number" class="form-control input-sm" id="cost" [(ngModel)]="cardEdit.cost">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row space">
                            <div class="form-group no-padding-right col-md-6">
                                <label for="noteBalance">Примечания по постановке на баланс</label>
                                <textarea class="form-control" id="noteBalance" rows="3" [(ngModel)]="cardEdit.balanceNote"></textarea>
                            </div>
                            <div class="form-group no-padding-right col-md-6">
                                <label for="noteRight">Примечения по передаче прав</label>
                                <textarea class="form-control" id="noteRight" rows="3" [(ngModel)]="cardEdit.rightNote"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group no-padding-right col-md-6">
                                <label for="contacts">Контактные сведенья</label>
                                <textarea class="form-control" id="contacts" rows="3" [(ngModel)]="cardEdit.contactNote"></textarea>
                            </div>
                            <div class="form-group no-padding-right col-md-6">
                                <label for="generalNotes">Общие примечания</label>
                                <textarea class="form-control" id="generalNotes" rows="3" [(ngModel)]="cardEdit.generalNote"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 no-padding-right">
                                <label for="referat">Реферат</label>
                                <textarea class="form-control" id="referat" rows="5" [(ngModel)]="cardEdit.referat"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="authors">Авторы</label>
                                <textarea class="form-control" id="authors" rows="2" [(ngModel)]="cardEdit.authors"></textarea>
                            </div>
                        </div>
                        <div class="row margin-btn">
                            <label class="col-md-12">Авторы, внесённые в реестр сотрудников</label>
                            <div class="col-md-9 no-padding-right">
                                <div class="table-fixed border">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Фио</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td>Комиссаров С.В.</td></tr>
                                        <tr><td>Комиссаров С.В.</td></tr>
                                        <tr><td>Комиссаров С.В.</td></tr>
                                        <tr><td>Комиссаров С.В.</td></tr>
                                        <tr><td>Комиссаров С.В.</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                        <div class="row margin-btn">
                            <label class="col-md-12">Подразделения</label>
                            <div class="col-md-9 no-padding-right">
                                <div class="table-fixed border">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Сокр-е</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Подразделение 1</td>
                                            <td>ВТ</td>
                                        </tr>
                                        <tr>
                                            <td>Подразделение 2</td>
                                            <td>ВТ</td>
                                        </tr>
                                        <tr>
                                            <td>Подразделение 3</td>
                                            <td>ВТ</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                        <div class="row margin-btn">
                            <label class="col-md-12">Ссылки на договоры</label>
                            <div class="col-md-9 no-padding-right">
                                <div class="table-fixed border">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Шифр</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Договор 1</td>
                                            <td>АБС</td>
                                        </tr>
                                        <tr>
                                            <td>Договор 2</td>
                                            <td>АБС</td>
                                        </tr>
                                        <tr>
                                            <td>Договор 3</td>
                                            <td>АБС</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                        <div class="row margin-btn">
                            <label class="col-md-12">Ссылки на НИР</label>
                            <div class="col-md-9 no-padding-right">
                                <div class="table-fixed border">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Шифр</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Нир 1</td>
                                            <td>АБС</td>
                                        </tr>
                                        <tr>
                                            <td>Нир 2</td>
                                            <td>АБС</td>
                                        </tr>
                                        <tr>
                                            <td>Нир 3</td>
                                            <td>АБС</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                        <div class="row margin-btn">
                            <label class="col-md-12">Ссылки на ГРАНТИ</label>
                            <div class="col-md-9 no-padding-right">
                                <div class="table-fixed border">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Шифр</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>ГРАНТИ 1</td>
                                            <td>АБС</td>
                                        </tr>
                                        <tr>
                                            <td>ГРАНТИ 2</td>
                                            <td>АБС</td>
                                        </tr>
                                        <tr>
                                            <td>ГРАНТИ 3</td>
                                            <td>АБС</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                        <div class="row margin-btn">
                            <label class="col-md-12">Ссылки на ключевые слова</label>
                            <div class="col-md-9 no-padding-right">
                                <div class="table-fixed border">
                                    <table class="table table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Фио</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td>Ссылки 1</td></tr>
                                        <tr><td>Ссылки 2</td></tr>
                                        <tr><td>Ссылки 3</td></tr>
                                        <tr><td>Ссылки 4</td></tr>
                                        <tr><td>Ссылки 5</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Изменить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="save()">Сохранить данные</button>
                <button type="button" class="btn btn-warning" (click)="cancel()">Отменить изменения</button>
                <button type="button" class="btn btn-primary">Отчёт по карточке</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Выход</button>
            </div>
        </div>
    </div>
</div>